version: '3'
services:

  hornet:
    image: iotaledger/hornet:${HORNET_VERSION:?HORNET_VERSION is missing}
    restart: unless-stopped
    ulimits:
      nofile:
        soft: 16384
        hard: 16384
    stop_grace_period: 5m
    tty: true
    working_dir: /app
    ports:
      - "${HORNET_GOSSIP_PORT:-15600}:${HORNET_GOSSIP_PORT:-15600}/tcp"
      - "${HORNET_AUTOPEERING_PORT:-14626}:${HORNET_AUTOPEERING_PORT:-14626}/udp"
    labels:
      - "proxy.constraint=hornet-${HORNET_NETWORK:-mainnet}"
      - "traefik.enable=true"

      - "traefik.http.services.webapi.loadbalancer.server.port=14265"
      - "traefik.http.services.webapi.loadbalancer.healthCheck.path=/api/core/v2/info"
      - "traefik.http.services.webapi.loadbalancer.healthCheck.interval=10s"
      - "traefik.http.services.webapi.loadbalancer.healthCheck.timeout=3s"
      - "traefik.http.routers.webapi.service=webapi"
      - "traefik.http.routers.webapi.rule=Host(`${HORNET_HOST:?HORNET_HOST is missing}`) && PathPrefix(`/api`, `/health`)"
      - "traefik.http.routers.webapi.entrypoints=websecure"
      - "traefik.http.routers.webapi.tls=true"
      - "traefik.http.routers.webapi.tls.certresolver=myresolver"
    cap_drop:
      - ALL
    command: [ "--config", "/app/config/config.json" ]
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "${HORNET_DATA_DIR:-./data}/config/config-${HORNET_NETWORK:-mainnet}.json:/app/config/config.json:ro"
      - "${HORNET_DATA_DIR:-./data}/storage/${HORNET_NETWORK:-mainnet}:/app/storage"
      - "${HORNET_DATA_DIR:-./data}/snapshots/${HORNET_NETWORK:-mainnet}:/app/snapshots"
      - "${HORNET_DATA_DIR:-./data}/p2pstore/${HORNET_NETWORK:-mainnet}:/app/p2pstore"
    logging:
      driver: "json-file"
      options:
        max-size: "500m"

  ##################################################################
  #  Reverse Proxy and SSL                                         #
  ##################################################################

  traefik:
    image: traefik:v2.8.1
    restart: unless-stopped
    command:
      - "--log.level=WARN"
      - "--metrics.prometheus=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.docker.constraints=Label(`proxy.constraint`,`hornet-${HORNET_NETWORK:-mainnet}`)"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.web.transport.respondingTimeouts.readTimeout=10"
      - "--entrypoints.web.transport.respondingTimeouts.writeTimeout=10"
      - "--entrypoints.web.http.redirections.entrypoint.to=websecure"
      - "--entrypoints.web.http.redirections.entrypoint.scheme=https"
      - "--entrypoints.websecure.address=:443"
      - "--entrypoints.websecure.transport.respondingTimeouts.readTimeout=10"
      - "--entrypoints.websecure.transport.respondingTimeouts.writeTimeout=10"
      - "--providers.file.directory=/etc/traefik/dynamic"
      - "--certificatesresolvers.myresolver.acme.tlschallenge=true"
      - "--certificatesresolvers.myresolver.acme.email=${ACME_EMAIL:-}"
      - "--certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json"
    ports:
      - "${HORNET_HTTP_PORT:-80}:80/tcp"
      - "${HORNET_HTTPS_PORT:-443}:443/tcp"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "${HORNET_DATA_DIR:-./data}/letsencrypt:/letsencrypt"
      - "./assets/traefik/${SSL_CONFIG:-letsencrypt}.yml:/etc/traefik/dynamic/config.yml:ro"
      - "${HORNET_SSL_CERT:-./assets/traefik/certs/fake.cert}:/certs/domain.cert:ro"
      - "${HORNET_SSL_KEY:-./assets/traefik/certs/fake.key}:/certs/domain.key:ro"
    logging:
      driver: "json-file"
      options:
        max-size: "200m"

  ##################################################################
  #  Monitoring                                                    #
  ##################################################################

  prometheus:
    image: prom/prometheus:latest
    restart: unless-stopped
    user: "65532"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./assets/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - ${HORNET_DATA_DIR:-./data}/prometheus/:/prometheus

  grafana:
    image: grafana/grafana:latest
    restart: unless-stopped
    user: "65532"
    labels:
      - "proxy.constraint=hornet-${HORNET_NETWORK:-mainnet}"
      - "traefik.enable=true"
      - "traefik.http.routers.grafana.rule=Host(`${HORNET_HOST:?HORNET_HOST is missing}`) && PathPrefix(`/grafana`)"
      - "traefik.http.routers.grafana.entrypoints=websecure"
      - "traefik.http.routers.grafana.tls=true"
      - "traefik.http.services.grafana.loadbalancer.server.port=3000"
    environment:
      - GF_SERVER_DOMAIN=${HORNET_HOST}
      - GF_SERVER_ROOT_URL=/grafana
      - GF_SERVER_SERVE_FROM_SUB_PATH=true
    volumes:
      - ./assets/grafana/:/etc/grafana/provisioning/
      - ${HORNET_DATA_DIR:-./data}/grafana:/var/lib/grafana
    
  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    privileged: true
    command:
      - --housekeeping_interval=30s    # kubernetes default args
      - --max_housekeeping_interval=35s
      - --event_storage_event_limit=default=0
      - --event_storage_age_limit=default=0
      - --store_container_labels=false
      - --global_housekeeping_interval=30s
      - --event_storage_event_limit=default=0
      - --event_storage_age_limit=default=0
      - --disable_metrics=accelerator,advtcp,cpu_topology,disk,hugetlb,memory_numa,percpu,referenced_memory,resctrl,sched,tcp,udp
      - --enable_load_reader=true
      - --docker_only=true          # only show stats for docker containers
      - --allow_dynamic_housekeeping=true
      - --storage_duration=1m0s
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro

  ##################################################################
  #  INX Extensions                                                #
  ##################################################################

  inx-indexer:
    image: iotaledger/inx-indexer:${INX_INDEXER_VERSION:?INX_INDEXER_VERSION is missing}
    stop_grace_period: 5m
    restart: unless-stopped
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "${HORNET_DATA_DIR:-./data}/indexer/${HORNET_NETWORK:-mainnet}:/app/data"
    command:
      - "--inx.address=hornet:9029"
      - "--indexer.db.path=/app/data"
      - "--indexer.bindAddress=inx-indexer:9091"
      - "--prometheus.enabled=true"
      - "--prometheus.bindAddress=inx-indexer:9312"

  inx-mqtt:
    image: iotaledger/inx-mqtt:${INX_MQTT_VERSION:?INX_MQTT_VERSION is missing}
    stop_grace_period: 5m
    restart: unless-stopped
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
    command:
      - "--inx.address=hornet:9029"
      - "--mqtt.websocket.bindAddress=inx-mqtt:1888"
      - "--prometheus.enabled=true"
      - "--prometheus.bindAddress=inx-mqtt:9312"

  inx-participation:
    image: iotaledger/inx-participation:${INX_PARTICIPATION_VERSION:?INX_PARTICIPATION_VERSION is missing}
    stop_grace_period: 5m
    restart: unless-stopped
    ulimits:
      nofile:
        soft: 16384
        hard: 16384
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "${HORNET_DATA_DIR:-./data}/participation/${HORNET_NETWORK:-mainnet}:/app/data"
    command:
      - "--inx.address=hornet:9029"
      - "--participation.db.path=/app/data/participation"
      - "--participation.bindAddress=inx-participation:9892"

  inx-spammer:
    image: iotaledger/inx-spammer:${INX_SPAMMER_VERSION:?INX_SPAMMER_VERSION is missing}
    stop_grace_period: 5m
    restart: unless-stopped
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
    command:
      - "--inx.address=hornet:9029"
      - "--spammer.bindAddress=inx-spammer:9092"
      - "--prometheus.enabled=true"
      - "--prometheus.bindAddress=inx-spammer:9312"

  inx-poi:
    image: iotaledger/inx-poi:${INX_POI_VERSION:?INX_POI_VERSION is missing}
    stop_grace_period: 5m
    restart: unless-stopped
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
    command:
      - "--inx.address=hornet:9029"
      - "--poi.bindAddress=inx-poi:9687"

  inx-dashboard:
    image: iotaledger/inx-dashboard:${INX_DASHBOARD_VERSION:?INX_DASHBOARD_VERSION is missing}
    stop_grace_period: 5m
    restart: unless-stopped
    labels:
      - "proxy.constraint=hornet-${HORNET_NETWORK:-mainnet}"
      - "traefik.enable=true"

      - "traefik.http.services.hornet.loadbalancer.server.port=8081"
      - "traefik.http.services.hornet.loadbalancer.healthCheck.path=/"
      - "traefik.http.services.hornet.loadbalancer.healthCheck.interval=10s"
      - "traefik.http.services.hornet.loadbalancer.healthCheck.timeout=3s"
      - "traefik.http.routers.hornet.service=hornet"
      - "traefik.http.routers.hornet.rule=Host(`${HORNET_HOST:?HORNET_HOST is missing}`)"
      - "traefik.http.routers.hornet.entrypoints=websecure"
      - "traefik.http.routers.hornet.tls=true"
      - "traefik.http.routers.hornet.tls.certresolver=myresolver"
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "${HORNET_DATA_DIR:-./data}/dashboard/${HORNET_NETWORK:-mainnet}:/app/data"
    command:
      - "--inx.address=hornet:9029"
      - "--dashboard.bindAddress=inx-dashboard:8081"
      - "--dashboard.auth.identityFilePath=/app/data/identity.key"
      - "--dashboard.auth.username=${DASHBOARD_USERNAME}"
      - "--dashboard.auth.passwordHash=${DASHBOARD_PASSWORD}"
      - "--dashboard.auth.passwordSalt=${DASHBOARD_SALT}"
